{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify %}
{% load url from future %}
{% load admin_urls %}
{% block extrahead %}
{{ media.js }}

<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
	$('input[type="submit"]').hide();

    });
})(django.jQuery);
</script>

{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "syntax-highlighter/shCore.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "syntax-highlighter/shThemeDefault.css" %}" />
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}


{% block content_title %}
   <h1>View {{opts.object_name}}</h1>
{% endblock %}

{% block content %}
<div id="content-main">
 <ul class="object-tools">
 </ul>

<div class="module">

 {% block field_sets %}
      {% for fieldset in adminform %}
         {% for line in fieldset %}
            {% for field in line %}
	     <div class="form-row">
               <b class="label">{{field.field.label|title}}:</b>
	        {% if field.field.name == "result"  %}
		      </br>
			{% if original.command.os == "IOS" %}
	                   <pre class="brush: cisco">{{field.contents}}</pre>
		  	{% else %}
	                   <pre class="brush: cisco">{{field.contents}}</pre>
			{% endif %}	
		   </div>
	        {% else %}
		   {% if field.field.name == "job"%}
		      <a href="{% url 'admin:index' %}ncm/job/{{original.job.id}}">{{field.contents|title}}</a>
		   {% endif %}
		   {% if field.field.name == "node"%}
		      <a href="{% url 'admin:index' %}ncm/node/{{original.node.id}}">{{field.contents|title}}</a>
	 	   {% endif %}
		   {% if field.field.name != "job"  and field.field.name != "node"%}
		      <div class="value">{{field.contents}}</div>
		   {% endif %}
		{% endif %}
	     </div><! -- end form row -->

	    {% endfor %}
         {% endfor %}
      {% endfor %}
 {% endblock %}
</div>
{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
</div>

{% endblock %}
