{% extends 'admin/base_site.html' %}
{% load i18n adminmedia %}

{% block content %}
<div id="module_title">
<h2>Import Nodes (CSV)</h2>
</div>
<div id="module">
{% if success %}
   <p>You successfully imported nodes</p>

{% else %}
<p>
   There should be 3 columns in your csv: name,ip,os,ssh or telnet
        <br/>
   i.e. "Chicago Core",10.1.1.1,IOS,telnet
</p>
<form enctype="multipart/form-data" method="post" >
{% csrf_token%}
{{form}}
<input type="submit" />
</form>
{% endif%}
</div>
{% endblock %}

